<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.depaul.csc472.lifesaver" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PatientRegistration"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".DonorRegistration"
            android:label="@string/title_activity_donor_registration" >
        </activity>
        <activity
            android:name=".PatientProfile"
            android:label="@string/title_activity_patient_profile" >
        </activity>
        <activity
            android:name=".DonorProfile"
            android:label="@string/title_activity_donor_profile" >
        </activity>
        <activity
            android:name=".PatientStories"
            android:label="@string/title_activity_patient_stories" >
        </activity>
        <activity
            android:name=".ViewFullStory"
            android:label="@string/title_activity_view_full_story" >
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
